@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  color: rgba(0,0,0,0.87);
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

#game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

#game-screen canvas {
  width: 100%;
  height: 100%;
  background: transparent;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
input {
  margin: 5px 0px;
  padding: 6px 20px;
  min-width: 30vw;
  border: 2px solid #363636;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  outline: none;
}

#choose-name-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#buttons {
  display: flex;
  justify-content: space-between;
  min-width: 30vw;
}

#choose-name-div button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#random-name-button, #set-name-button {
  margin: 5px 0px;
  padding: 6px 20px;
  border: 2px solid #363636;
  border-radius: 20px;
  outline: none;
  transition: all .2s ease-in-out;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 150px;
}

#choices-board {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#choices div p {
  font-size: 20px;
}

h3 {
  margin: 20px;
  text-align: center;
  max-width: 60vw;
}

.choice {
  margin: 15px 20px;
  padding: 10px 10px;
  border: 2px solid #363636;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.choice:hover {
  border: 2px solid #363636;
  box-shadow: 0 0 5px rgba(33,33,33,.4);
  transform: scale(1.1);
  cursor: pointer;
}

.choice:active {
  transform: scale(1.0);
}

.choice img {
  width: 138px;
  height: 118px;
}

.choice p {
  padding-top: 5px;
  text-align: center;
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

#score div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#score h1 {
  margin: 5px;
  padding: 5px;
  align-self: center;
}

#score .name-containers {
  display: inline;
  width: 40%;
  height: 70px;
  align-items: center;
}

#person-name {
  text-align: right;
}

#computer-name {
  text-align: left;
}

#scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 110px;
  height: 100px;
  border: 2px solid #363636;
  border-radius: 10px;
  padding: 5px;
  margin: 15px 35px;

}

#person-score {
  margin-left: -25px;
  padding: 2px;
  width: 50px;
  height: 70px;
  background-color: rgb(218, 67, 40);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#person-score p {
  align-self: center;
  text-align: center;
  background: transparent;
  color: #F3F3F3;
  font-size: 35px;
}

#computer-score {
  margin-right: -25px;
  padding: 2px;
  width: 50px;
  height: 70px;
  background-color: rgb(218, 67, 40);
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

#computer-score p {
  align-self: center;
  text-align: center;
  background: transparent;
  color: #F3F3F3;
  font-size: 35px;
}